.container-custom {
    width: 80%;
    margin: auto;
}
.text-darkblue{
    color: darkblue;
}
.bg-lightblue{
    background-color: lightblue;
}
.bg-darkblue{
    background-color: darkblue;
}
.img-width{
    width: 300px;
    height: 300px;
}